* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#icondiv {
    margin-left: 10px;
}

header {
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

header>nav>ul,
li {
    text-decoration: none;
    gap: 3rem;
    display: flex;
    justify-content: space-between;
}

#icon {
    width: auto;
    height: auto;
    max-width: 100px;
}

#avatar {
    margin: 10px;
}

hr {
    color: black;
}